<ion-view title="Login">
  	<ion-content>
	    <div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" placeholder="username">
			</label>
		</div>
	    <div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="text" placeholder="password">
			</label>
		</div>
	    <div class="list list-inset">
			<button class="button button-block button-positive">
				Login
			</button>
		</div>
  	</ion-content>
</ion-view>